// Palette de couleurs
$light-blue: #f1f8fc;
$blue: #0074c7;
$dark-blue: #00497c;
$blue-gray: #384050;
$red: #cd2c2e;
$green: #82b864;

// Variables Bootstrap personnalisées
$primary: $blue;
$secondary: $blue-gray;
$success: $green;
$danger: $red;
$info: $light-blue;
$dark: $dark-blue;

// Autres variables personnalisées
$body-bg: $light-blue;
$navbar-light-bg: white;
$navbar-dark-bg: $dark-blue;
$card-border-color: rgba($blue, 0.125);
$card-cap-bg: rgba($light-blue, 0.03);

// Liens
$link-color: $blue;
$link-hover-color: darken($blue, 15%);

// Boutons
$btn-primary-bg: $blue;
$btn-primary-border: $blue;
$btn-success-bg: $green;
$btn-success-border: $green;
$btn-danger-bg: $red;
$btn-danger-border: $red;